body{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Arial, sans-serif;
    background:#eef7ee;
    color:#1e1e1e;
}

/* PAGE */

.profile-page{
    width:95%;
    max-width:1500px;
    margin:40px auto;
}

/* TOP PROFILE */

.profile-top{
    background:white;

    border-radius:28px;

    padding:40px;

    display:flex;

    gap:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);

    margin-bottom:40px;
}

/* IMAGE */

.profile-image-section{
    width:280px;
}

.profile-image{
    width:100%;
    height:280px;

    object-fit:cover;

    border-radius:24px;

    border:5px solid #dcefdc;
}

/* STATUS */

.patient-status{
    margin-top:15px;

    padding:10px;

    text-align:center;

    border-radius:12px;

    font-weight:bold;
}

.patient-status.active{
    background:#dff6df;
    color:#2f7d32;
}

/* ID */

.patient-id-box{
    margin-top:20px;

    background:#f5faf5;

    padding:15px;

    border-radius:16px;
}

.patient-id-box span{
    display:block;
    color:#777;
    margin-bottom:5px;
}

.patient-id-box strong{
    color:#2f7d32;
    font-size:20px;
}

/* MAIN INFO */

.profile-main-info{
    flex:1;
}

.profile-main-info h1{
    margin:0;
    color:#2f7d32;
    font-size:42px;
}

.patient-role{
    color:#777;
    margin-top:8px;
    margin-bottom:35px;
}

/* QUICK INFO */

.quick-info-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

    gap:20px;
}

.quick-card{
    background:#f7fbf7;

    padding:20px;

    border-radius:18px;

    border:1px solid #dcecdc;
}

.quick-card span{
    display:block;
    color:#777;
    margin-bottom:8px;
    font-size:14px;
}

.quick-card strong{
    font-size:18px;
}

.emergency-alert{
    border-left:6px solid #ff4d4f;
}

/* DETAILS */

.details-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(350px, 1fr));

    gap:30px;
}

.detail-card{
    background:white;

    padding:30px;

    border-radius:24px;

    box-shadow:0 8px 20px rgba(0,0,0,0.06);
}

.detail-card h2{
    margin-top:0;

    color:#2f7d32;

    margin-bottom:20px;
}

.detail-card p{
    margin:12px 0;

    line-height:1.6;
}

/* BUTTON */

.history-btn{
    display:inline-block;

    margin-top:20px;

    background:#2f7d32;

    color:white;

    text-decoration:none;

    padding:14px 20px;

    border-radius:14px;

    font-weight:bold;

    transition:0.3s;
}

.history-btn:hover{
    transform:translateY(-2px);
}

/* RESPONSIVE */

@media(max-width:1000px){

    .profile-top{
        flex-direction:column;
    }

    .profile-image-section{
        width:100%;
    }

    .profile-image{
        height:320px;
    }
}

@media(max-width:700px){

    .profile-main-info h1{
        font-size:32px;
    }

    .details-grid{
        grid-template-columns:1fr;
    }

    .profile-top{
        padding:25px;
    }
}